body{
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin{
    font-weight: 100;
}

.title-super{
	font-size: 60px;
}

.title-logo{
	margin-top: 20px;
}

hr{
	border-width: 2px;
}
.img-responsive{
	width: 100%;
	height: auto;
}